@import'../../base.scss';

.CategoriesBar{
    padding: 0.5rem 0.5rem;
    display: flex;
    overflow-x: scroll;
    font-weight: 500;
    
    scrollbar-width: none;

    span{
       display: inline;
       margin-right: 1rem;
        padding: 0.5rem;
        
        white-space: nowrap;
        border: 1px solid $text-color;
        border-radius: 99px;

        &:hover{

            background-color: #375137;
            cursor:pointer;
        }
        &.active{
            color: #fff;
            background-color: #606060;
            border-color: $border-color;
            font-weight: 600;
        }
    }
}